@use "@/styles/mixins.scss" as *;
@use "@/styles/variables.scss" as *;

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: $color-black-overlay;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal {
  margin-top: $space-15;
  padding: $space-8 $space-12;
  background-color: $color-black;
  border-radius: $space-14;
  width: $width-sm;
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  cursor: pointer;
}

.title {
  color: $color-icon-blue;
  font-weight: bold;
}

.center {
  display: flex;
  gap: $space-8;
  padding-top: $space-12;
  padding-bottom: $space-12;
}

.avatar {
  position: relative;
  width: $space-14;
  height: $space-14;
  border-radius: 9999px;
  overflow: hidden;
}

.input {
  flex: 1;
  background: transparent;
  outline: none;
  font-size: $size-lg;
  color: $color-white;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-8;
  flex-wrap: wrap;
  border-top: 1px solid $color-border-light;
  padding-top: $space-8;
}

.icons {
  display: flex;
  gap: $space-8;
  flex-wrap: wrap;
}

.icon {
  cursor: pointer;
}

.postButton {
  padding: $space-4 $space-9;
  background-color: $color-white;
  color: $color-black;
  border-radius: 9999px;
  font-weight: bold;
}
